.blue {
	background-color: LightCyan;
}

h1 {
	font-family: 'Bungee Shade', cursive;
	color: DarkBlue;
}

.centerText {
	text-align: center;
}

h4 {
	font-family: 'Ubuntu', sans-serif;
	color: DarkSlateGrey;
}

.hero {
	display: block;
    margin: auto;
	width: 90%;
	border-radius: 20px;
	border: 2px solid red;
}

h2 {
	font-family: 'Bungee Inline', cursive;
	color: DarkSlateGray;
	font-size: 28px;
}

.reservations {
	width: 45%;
	float: left;
	padding-left: 50px;
	padding-bottom: 50px;
}

#makeReservation {
	margin-top: 20px;
}

label {
	font-family: 'Ubuntu', sans-serif;
	color: DarkSlateGrey;
	font-size: 15px;
	width: 95px;
	margin-left: 60px;
	margin-right: 30px;
}

input {
	width: 300px;
	margin-bottom: 10px;
	border-radius: 3px;
}

#two {
	width: 95px;
	margin-left: 60px;
	margin-right: 45px;
}

.submitBtn {
	margin-top: 15px;
	margin-left: 43px;
}

#submitBtn {
	background-color: DarkBlue;
	color: white;
	height: 30px;
	width: 100px;
}	

#submitBtn:hover {
	background-color: #60a3f6;
}

.cancelBtn {
	margin-top: 10px;
	margin-left: -40px;
}

#cancelBtn {
	background-color: DarkBlue;
	color: white;
	height: 30px;
	width: 180px;
	padding-left: 10px;
}	

#cancelBtn:hover {
	background-color: #60a3f6;
}

.confirm {
	width: 45%;
	float: right;
	padding-right: 80px;
}

table {
	border-collapse: collapse;
	width: 90%;
	margin-left: 50px;
}

table, th, td {
	border: 1px solid LightSlateGrey;
}

th {
	font-family: 'Ubuntu', sans-serif;
	color: DarkSlateGrey;
	font-size: 15px;
}

td {
	padding-left: .5em;
	padding-top: .2em;
	padding-bottom: .2em;
	width: 50%;
}

.dine {
	display: block;
    margin: auto;
	width: 90%;
	padding-bottom: 30px;
	clear: both;
}

#map {
	height: 300px;
	border-radius: 3px;
	border: 2px solid SlateGrey;
}

.reviews {
	width: 50%
	float: center;
}

div.polaroid {
	display: block;
    margin: auto;
    width: 45%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
	width: 36%;
}

div.container {
	display: block;
    margin: auto;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 50px   
}

blockquote {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20;
	font-family: 'Ubuntu', sans-serif;
	color: DarkSlateGrey;
	text-align: center;
}

.whoseQuote {
	margin-left: 0;
	margin-top: 0;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}





